body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
.row {
    display: flex;
}
.leftcolumn {
    float: left;
    width: 600px;
}
.rightcolumn {
    float: left;
    width: calc(100% - 600px);
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
button {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font: inherit;
}
table, td {
    border: 1px solid rgb(20, 25, 25);
    border-collapse: collapse;
}
td.selected-fatigue-slot {
    outline: 3px solid rgb(40, 50, 50);
    background-color: rgb(230, 230, 230);
}
input {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border: rgb(230, 230, 230) solid 0px;
    font: inherit;
}
input[type="number"] {
    width: 2em;
}
input.wide[type="number"] {
    width: 3em;
}
input[type="number"]:disabled {
    appearance: textfield;
    -moz-appearance: textfield;
}
input.sensitive[type="number"]:disabled::-webkit-inner-spin-button,
input.sensitive[type="number"]:disabled::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color: rgba(255, 255, 255, 0);
}
textarea {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border: rgb(230, 230, 230) solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modalcontent {
    background-color: rgb(255, 255, 255);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(20, 25, 25);
    width: 30%;
}
.open {
    display: block;
}
